.drm-content {

}

.drm-content__left {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: var(--base-border-radius);
  background-color: var(--section-content-background-color);
  padding: 15px;
}

.drm-content__left img {
  margin-right: 10px;
}

.drm-content__left ul {
  margin-bottom: 0;
}

.drm-content__left ul li:not(:last-child) {
  margin-bottom: 15px;
}

.drm-content__right {
  overflow: hidden;
  padding: 15px;
}

.drm-content__right img {
  height: auto;
}

